<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_ILocalErrorService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/ErrorHandling/" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_ILocalErrorService"
                contract="ErrorHandlingService.ILocalErrorService" name="NetNamedPipeBinding_ILocalErrorService">
                <identity>
                    <servicePrincipalName value="WCFService1" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>